<p>
    Master Volume
    <input id="music-master-volume" type="text" data-slider-min="0" data-slider-max="100"
           data-slider-step="5" data-slider-value="{{ music.volume }}"/>
</p>
<p>
    Now Playing
    <strong>
        <span id="now-playing" class="ml-2">
            {% if music.currently_playing.1 %}
                {{ music.currently_playing.1 }} > {{ music.currently_playing.3 }}
            {% else %}
                -
            {% endif %}
        </span>
    </strong>
</p>
<p>
    Stop the Music
    <button type="button" class="btn" onclick="sendCmdStopMusic()">
        <i class="fas fa-stop"></i>
    </button>
</p>
<hr class="row">
<div>
    {% for group in music.groups %}
    {% set outer_loop = loop %}
    <div>
        <a id="music-group-{{ outer_loop.index0 }}"
           class="row btn collapse-btn
                  {% if music.currently_playing and music.currently_playing.1 == group.name %}
                    playing
                  {% endif %}"
           data-toggle="collapse"
           href="#collapseMusicGroup{{outer_loop.index0}}" role="button"
           aria-expanded="false" aria-controls="collapseMusicGroup{{outer_loop.index0}}">
            <h5><i class="collapse-icon fas fa-plus fa-xs"></i>{{ group.name }}</h5>
        </a>
        <div class="collapse" id="collapseMusicGroup{{outer_loop.index0}}">
            <div class="row">
                {% if group.track_lists %}
                {% for _track_list in group.track_lists %}
                <div id="track-list-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                     class="col-12 col-sm-6 col-xl-4 group-item
                     {% if music.currently_playing and music.currently_playing.1 == group.name
                           and music.currently_playing.3 == _track_list.name %}
                        playing
                     {% endif %}">
                    <div>
                        {{ _track_list.name }}
                    </div>
                    <button type="button"
                            class="btn
                            {% if music.currently_playing
                            and music.currently_playing.1 == group.name
                            and music.currently_playing.3 == _track_list.name %}
                               playing
                            {% endif %}"
                            id="btn-music-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                            onclick="sendCmdPlayMusic({{ outer_loop.index0 }}, {{ loop.index0 }})">
                        <i class="fas fa-play play-icon"></i>
                    </button>
                    <input id="track-list-volume-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                           class="track-list-volume" type="text" data-slider-min="0" data-slider-max="100"
                           data-slider-step="5" data-slider-value="{{ _track_list.volume }}"
                           data-group-index="{{ outer_loop.index0 }}" data-track-list-index="{{ loop.index0 }}"/>
                </div>
                {% endfor %}
                {% else %}
                <div class="list-group-item">No track lists available.</div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="row">
    {% endfor %}
</div>