<p>
    Master Volume
    <input id="sound-master-volume" type="text" data-slider-min="0" data-slider-max="1"
           data-slider-step="0.05" data-slider-value="{{ sound.volume }}"/>
</p>
<hr class="row">
<div>
    {% for group in sound.groups %}
    {% set outer_loop = loop %}
    <div>
        <a id="sound-group-header-{{ outer_loop.index0 }}"
           class="row btn collapse-btn group-header
           {% if outer_loop.index0 in sound.groups_currently_playing %}
           playing
           {% endif %}"
           data-toggle="collapse"
           href="#collapseSoundGroup{{outer_loop.index0}}" role="button"
           aria-expanded="false" aria-controls="collapseSoundGroup{{outer_loop.index0}}">
            <h5><i class="collapse-icon fas fa-plus fa-xs"></i>{{ group.name }}</h5>
        </a>
        <div class="collapse" id="collapseSoundGroup{{outer_loop.index0}}">
            <div class="row">
                {% if group.sounds %}
                {% for _sound in group.sounds %}
                <div id="sound-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                     class="col-12 col-sm-12 col-lg-6 group-item
                     {% if (outer_loop.index0, loop.index0) in sound.sounds_currently_playing %}
                        playing
                     {% endif %}">
                    <div>
                        {{ _sound.name }}
                    </div>
                    <div>
                        <button type="button"
                                class="btn sound-play-btn"
                                onclick="sendCmdPlaySound({{ outer_loop.index0 }}, {{ loop.index0 }})">
                            <i class="fas fa-play player-icon"></i>
                        </button>
                        <button type="button"
                                class="btn sound-stop-btn"
                                onclick="sendCmdStopSound({{ outer_loop.index0 }}, {{ loop.index0 }})">
                            <i class="fas fa-stop player-icon"></i>
                        </button>
                        <input id="sound-volume-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                               class="sound-volume" type="text" data-slider-min="0" data-slider-max="1"
                               data-slider-step="0.05" data-slider-value="{{ _sound.volume }}"
                               data-group-index="{{ outer_loop.index0 }}" data-sound-index="{{ loop.index0 }}"/>
                        <button type="button" class="btn" onclick="sendCmdSetSoundLoop({{ outer_loop.index0 }}, {{ loop.index0 }})">
                            <i id="sound-loop-icon-{{ outer_loop.index0 }}-{{ loop.index0 }}"
                               class="fas fa-undo {% if _sound.loop %}looping{% endif %}"></i>
                        </button>
                        <label for="sound-loop-delay-input-{{ outer_loop.index0 }}-{{ loop.index0 }}" class="input-field">
                            <input id="sound-loop-delay-input-{{ outer_loop.index0 }}-{{ loop.index0 }}" type="text"
                               class="input-field"
                               onfocusout="sendCmdSetSoundLoopDelay({{ outer_loop.index0 }}, {{ loop.index0 }})"
                               value="{{ _sound.loop_delay_config }}">
                            <span class="label">Loop Delay (in ms)</span>
                            <span class="border"></span>
                        </label>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="list-group-item">No sounds available</div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="row">
    {% endfor %}
</div>