<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>DnDJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/darkMode.css">
    <link rel="stylesheet" href="/static/css/inputField.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"
            crossorigin="anonymous"></script>
    <script src="/static/js/webSocket.js/"></script>
    <script src="/static/js/musicPlayerUtils.js/"></script>
    <script src="/static/js/musicAPIUtils.js/"></script>
    <script src="/static/js/sound.js/"></script>
    <script src="/static/js/slider.js/"></script>
    <script src="/static/js/collapse.js/"></script>
    <script src="/static/js/darkMode.js/"></script>
</head>
<body class="dark-mode">
<div id="toast-container" aria-live="polite" aria-atomic="true" class="position-fixed w-100 d-flex flex-column align-items-center">
</div>
<div class="container">
    <div class="headline">
        <p class="text-center h1">
            D&DJ
        </p>
    </div>
    <div class="d-flex">
        <button type="button" class="btn ml-auto" onclick="toggleDarkMode()">
            <i class="fas fa-adjust"></i>
        </button>
    </div>
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item col-6">
                <a class="nav-link active" id="music-tab" data-toggle="tab" href="#music" role="tab" aria-controls="music"
                   aria-selected="true">Music</a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link" id="sound-tab" data-toggle="tab" href="#sound" role="tab" aria-controls="sound"
                   aria-selected="false">Sound</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="music" role="tabpanel" aria-labelledby="music-tab">
            {% include '_music.html' %}
        </div>
        <div class="tab-pane fade" id="sound" role="tabpanel" aria-labelledby="sound-tab">
            {% include '_sound.html' %}
        </div>
    </div>
</div>
</body>
</html>