<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/webSocket.js/"></script>
    <script src="/static/js/music.js/"></script>
    <script src="/static/js/sound.js/"></script>
    <script src="/static/js/slider.js/"></script>
  </head>
  <body>
    <h1>D&D Music Manager</h1>
    <div id="music">
      <h3>Music</h3>
      <p>
        Stop the Music
        <button type="button" class="btn" onclick="stopMusic()">
          <i class="fas fa-stop"></i>
        </button>
      </p>
      <p>
        Volume 0
        <input id="music-volume" type="text" data-slider-min="0" data-slider-max="1"
               data-slider-step="0.05" data-slider-value="{{ music.volume }}"/> 1
      </p>
      <div>
        {% for group in music.groups %}
          {% set outer_loop = loop %}
          <div>
            <a class="btn" data-toggle="collapse" href="#collapseMusicGroup{{outer_loop.index0}}" role="button"
               aria-expanded="false" aria-controls="collapseMusicGroup{{outer_loop.index0}}">
              <h5>{{ group.name }}</h5>
            </a>
            <div class="collapse" id="collapseMusicGroup{{outer_loop.index0}}">
              <ul class="list-group">
                {% if group.track_lists %}
                  {% for _track_list in group.track_lists %}
                    <li id="music-{{ outer_loop.index0 }}-{{ loop.index0 }}" class="list-group-item {% if music.currently_playing and music.currently_playing.0.name == _track_list.name %}playing{% endif %}">
                      <button type="button" class="btn" onclick="playMusic({{ outer_loop.index0 }}, {{ loop.index0 }})">
                        <i class="fas fa-play"></i>
                      </button> {{ _track_list.name }}
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="list-group-item">No track lists available.</li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="sound">
      <h3>Sounds</h3>
      <p>
        Volume 0
        <input id="sound-volume" type="text" data-slider-min="0" data-slider-max="1"
               data-slider-step="0.05" data-slider-value="{{ sound.volume }}"/> 1
      </p>
      <div>
        {% for group in sound.groups %}
          {% set outer_loop = loop %}
          <div>
            <a class="btn" data-toggle="collapse" href="#collapseSoundGroup{{outer_loop.index0}}" role="button"
               aria-expanded="false" aria-controls="collapseSoundGroup{{outer_loop.index0}}">
              <h5>{{ group.name }}</h5>
            </a>
            <div class="collapse" id="collapseSoundGroup{{outer_loop.index0}}">
              <ul class="list-group">
                {% if group.sounds %}
                  {% for _sound in group.sounds %}
                    <li class="list-group-item">
                      <button type="button" class="btn" onclick="playSound({{ outer_loop.index0 }}, {{ loop.index0 }})">
                        <i class="fas fa-play"></i>
                      </button> {{ _sound.name }}
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="list-group-item">No sounds available</li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>