:root {
    --myBlue: #337ab7;
    --myWhite: #E0E0E0;
}

.btn:hover {
    color: var(--myBlue);
}

.playing {
    color: var(--myBlue);
}

.playing:hover {
    color: var(--myBlue);
}

.looping {
    color: var(--myBlue);
}

.looping:hover {
    color: var(--myBlue);
}

.slider {
    margin-left: 15px;
    margin-right: 15px;
}

.group-item .slider-horizontal {
    width: 100px !important;
}

.slider-selection {
	background: #BABABA;
}

.collapse-icon {
    margin-right: 15px;
}

.collapse-btn {
    width: 100%;
    text-align: left;
}

.tab-content {
    margin-top: 15px;
}

.group-item {
    padding: .75rem 1.25rem;
}

.play-icon {
    padding: .375rem .75rem;
}

.nav {
    width: 100%;
}

.headline {
    margin-top: 1rem;
}

#toast-container {
    z-index: 1030;
    pointer-events: none;
}

.toast {
    pointer-events: all;
}

.hidden {
    display: none;
}
