:root {
    --myLightText: #373d3f;
    --myLightHighlight: #1A73E8;
    --myDarkText: #E0E0E0;
    --myDarkHighlight: #337ab7;
}

body {
    color: var(--myLightText);
}

.btn:hover {
    color: var(--myLightHighlight);
}

.playing {
    color: var(--myLightHighlight);
}

.playing:hover {
    color: var(--myLightHighlight);
}

.playing .music-play-btn{
    display: none;
}

.music-stop-btn {
    display: none;
}

.playing .music-stop-btn{
    color: var(--myLightHighlight);
    display: inline-block;
}

.playing .sound-play-btn{
    display: none;
}

.sound-stop-btn {
    display: none;
}

.playing .sound-stop-btn{
    color: var(--myLightHighlight);
    display: inline-block;
}

.playing .sound-btn:hover{
    color: var(--myLightHighlight);
}

.looping {
    color: var(--myLightHighlight);
}

.looping:hover {
    color: var(--myLightHighlight);
}

.slider {
    margin-left: 15px;
    margin-right: 15px;
}

.group-item .slider-horizontal {
    width: 100px !important;
}

.slider-selection {
	background: #BABABA;
}

.collapse-icon {
    margin-right: 15px;
}

.collapse-btn {
    width: 100%;
    text-align: left;
}

.tab-content {
    margin-top: 15px;
}

.group-item {
    padding: .75rem 1.25rem;
}

.player-icon {
    padding: .375rem .75rem;
}

.nav {
    width: 100%;
}

.headline {
    margin-top: 1rem;
}

#toast-container {
    z-index: 1030;
    pointer-events: none;
}

.toast {
    pointer-events: all;
}

.hidden {
    display: none;
}
