body.dark-mode {
    background-color: #212121;
    color: var(--myDarkText);
}

body.dark-mode .toast {
    background-color: rgba(60, 62, 66, 0.8);
}

body.dark-mode .nav-link {
    color: var(--myDarkText);
}

body.dark-mode .nav-link:hover {
    color: var(--myDarkHighlight);
}

body.dark-mode .nav-link.active {
    background-color: #212121;
    color: var(--myDarkText);
}

body.dark-mode .btn {
    color: var(--myDarkText);
}

body.dark-mode .btn:hover {
    color: var(--myDarkHighlight);
}

body.dark-mode .playing {
    color: var(--myDarkHighlight);
}

body.dark-mode .playing .music-stop-btn {
    color: var(--myDarkHighlight);
}

body.dark-mode .playing .sound-stop-btn {
    color: var(--myDarkHighlight);
}

body.dark-mode .looping {
    color: var(--myDarkHighlight);
}

body.dark-mode hr.row {
    border-color: #3D3D3D;
}
